## Python Data Structures and Boolean 

- Boolean
- Boolean and Logical Operators
- Lists
- Comparison operators
- Dictionaries
- Tuples
- Sets

### Boolean Variables

Boolean values are the two constant objects False and True. 

They are used to represent truth values (other values can also be considered
false or true). 

In numeric contexts (for example, when used as the argument to an
arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean,
if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [3]:
False

False

In [3]:
print(True,False)

True False

In [4]:
type(True)

bool

In [5]:
type(False)

bool

In [45]:
my_str = "Kirthikaks"

In [46]:
my_str.istitle()

True

In [50]:
print(my_str.isalnum()) #Checks if all char are numbers
print(my_str.isalpha()) # checks if all char in the string are alphanumeric
print(my_str.isdigit()) # tests if the string is a digit
print(my_str.istitle()) # test if string contains title words - only starting letter is capital
print(my_str.isupper())
print(my_str.islower())
print(my_str.isspace()) #Return True if the string is a whitespace string
print(my_str.endswith('s')) #case sensitive
print(my_str.startswith('k'))
print(my_str.startswith('K'))

True
True
False
True
False
False
False
True
False
True

### Boolean and Logical Operators

In [10]:
True and True

True

In [11]:
True and False

False

In [12]:
True or False

True

In [13]:
True or True

True

In [62]:
str_example = "Hello World"
my_str = "Kirthika"

In [63]:
my_str.isalpha() or str_example.isnum()

True

### Lists

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [15]:
type([])

list

In [18]:
lst_example=[]

In [19]:
type(lst_example)

list

In [20]:
lst=list()

In [21]:
type(lst)

list

In [65]:
lst=['Mathematics', 'chemistry', 100, 200, 300, 204]

In [66]:
len(lst)

6

In [67]:
type(lst)

list

### Append

In [68]:
#.append is used to add elements in the list
lst.append("Kirthika")

In [80]:
lst.append(['John','Bala'])  #the list itself gets appended as a element

In [81]:
lst

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Kirthika', ['John', 'Bala']]

In [79]:
#Indexing can be done for a range of values 
lst[1:]

['chemistry', 100, 200, 300, 204, 'Kirthika']

In [71]:
##Indexing in List
lst[6]

'Kirthika'

### Insert

In [82]:
## insert in a specific order - in which position you want the value to be 

lst.insert(2,"KSK")

In [83]:
lst

['Mathematics',
 'chemistry',
 'KSK',
 100,
 200,
 300,
 204,
 'Kirthika',
 ['John', 'Bala']]

In [84]:
lst.append('26')

In [85]:
lst

['Mathematics',
 'chemistry',
 'KSK',
 100,
 200,
 300,
 204,
 'Kirthika',
 ['John', 'Bala'],
 '26']

### Extend Method

In [33]:
lst = [1,2,3,4,5,6]

In [88]:
#adds the values as individual elements and not as a list of elements like append
lst.extend([8,9,10])

In [94]:
lst

['Mathematics',
 'chemistry',
 'KSK',
 100,
 200,
 300,
 204,
 'Kirthika',
 ['John', 'Bala'],
 '26',
 8,
 10,
 8]

### pop()

In [90]:
lst.pop(-2)

9

In [91]:
lst.pop()

10

In [92]:
lst.pop(-3)

9

In [93]:
lst

['Mathematics',
 'chemistry',
 'KSK',
 100,
 200,
 300,
 204,
 'Kirthika',
 ['John', 'Bala'],
 '26',
 8,
 10,
 8]

### count():Calculates total occurrence of given element of List

In [96]:
lst = [1,1,2,3,4,5]
lst.count(5)

1

In [97]:
#length:Calculates total length of List
len(lst)

6

In [101]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst.index(5,2,6)

5

In [105]:
##Min and Max
min(lst)

1

In [106]:
max(lst)

5

In [109]:
lst*2  #gets appended five times

[1, 1, 2, 3, 4, 5, 1, 1, 2, 3, 4, 5]

In [108]:
sum(lst)

16

## SETS

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [110]:
## Defining an empy set - list can have duplicates but sets cant

set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [113]:
set_var = {1,4,6,8,10,4}

In [114]:
set_var #duplicates are removed

{1, 4, 6, 8, 10}

In [117]:
set_var = {'ironman','hitman','avengers'}
print(set_var)
type(set_var)

{'hitman', 'avengers', 'ironman'}

set

In [119]:
#Indexing - is not possible in set 
set_var['avengers']

TypeError: 'set' object is not subscriptable

In [120]:
## Inbuilt function in sets
set_var.add('hulk')

In [121]:
print(set_var)

{'hitman', 'hulk', 'avengers', 'ironman'}

In [133]:
set1 = {'ironman','hitman','avengers'}
set2 = {'ironman','hitman','avengers','hulk2'}

In [123]:
##Difference -- gives the ones that are different elements and it is not a update on the set 
set2.difference(set1)

{'hulk2'}

In [128]:
#Intersection
set2.intersection(set1)

{'avengers', 'hitman', 'ironman'}

In [130]:
set2.intersection_update(set1)
set2

{'avengers', 'hitman', 'ironman'}

In [134]:
## Difference update
set2.difference_update(set1)

In [135]:
set2

{'hulk2'}

## Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [137]:
dic = {}

In [138]:
type(dic)

dict

In [139]:
dic = {1,2,3,5}

In [140]:
type(dic)  # set in {} dict has key value pair

set

set

In [141]:
## Let create a dictionary
my_dict = {"car1":"Audi","car2":"BMW","car3":"KIA"}

In [142]:
type(my_dict)

dict

In [143]:
##Access the item values based on keys
my_dict['car3']

'KIA'

In [144]:
# We can even loop throught the dictionaries keys - get many values from the dict
for x in my_dict:
    print(x)

car1
car2
car3

In [146]:
# We can even loop throught the dictionaries values
for x in my_dict.values():
    print(x)

Audi
BMW
KIA

In [147]:
# We can also check both keys and values
for x in my_dict.items():
    print(x)

('car1', 'Audi')
('car2', 'BMW')
('car3', 'KIA')

In [148]:
## Adding items in Dictionaries
my_dict['car4'] = 'Audi 2.0'

In [149]:
my_dict

{'car1': 'Audi', 'car2': 'BMW', 'car3': 'KIA', 'car4': 'Audi 2.0'}

In [150]:
my_dict['car1'] = 'swift'

In [151]:
my_dict # if we append new values for the key already present , then the new values will be updated

{'car1': 'swift', 'car2': 'BMW', 'car3': 'KIA', 'car4': 'Audi 2.0'}

In [152]:
#understanding dictionary is very important because we will retrieve values from MongoDB in key value pairs

### Nested Dictionary

In [155]:
car1_model = {'Mercedes': 1960}
car2_model = {'KIA-Seltos': 2023}
car3_model = {'Audi': 2020}

car_type = {'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [156]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'KIA-Seltos': 2023}, 'car3': {'Audi': 2020}}

In [157]:
## Accessing the items in the dictionary
print(car_type['car1'])

{'Mercedes': 1960}

In [159]:
print(car_type['car2']['KIA-Seltos'])

2023

## Tuples

In [161]:
## create an empty Tuples - not mutable

my_tuple = tuple()

In [162]:
type(my_tuple)

tuple

In [163]:
my_tuple = ("Kirthika","Kulandaivel","Senthilkumar")

In [165]:
#we can completely change the tuple but not the individual elements inside a tuple

# we will use tuples in cases where we will not need any future modifications to the values

my_tuple = ('Hello','World')

In [164]:
print(my_tuple)

('Kirthika', 'Kulandaivel', 'Senthilkumar')

In [166]:
print(my_tuple)

('Hello', 'World')

In [167]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Hello', 'World')

In [170]:
## Inbuilt function
my_tuple.count('World')

1

In [171]:
my_tuple.index('Hello')

0